/*pra determnar a altura total do body:*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-container {
  background-image: url("/src/assets/imagens/bgLogin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 10px;
  padding: 30px;
}

#exampleFormControlInput1 {
  border-color: #204499;
  border-width: 1px;
  margin: 8px;
  border-radius: 5px;
  padding: 12px;
  width: 210px;

}

#inputPassword6 {
  border-color: #204499;
  border-width: 1px;
  margin-bottom: 8px;
  border-radius: 5px;
  padding: 12px;
  width: 210px;


}

.btn-primary {
  background-color: #204499;
  border-color: #204499;
  border-radius: 5px;
  min-width: 236px;
  padding: 12px;
  border-width: 1px;
  color: white;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: bold;
}

.texto-credencial {
  margin-top: 20px;
  font-size: 11px;
  color: rgb(70, 69, 69);
}